* {
    margin: 0;
}

body {
    background: rgb(240, 240, 240);
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.container2 {
    display: flex;
    justify-content: center;
}

.box {
    font-size: 1.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 0 1px 1px rgb(0,0,0,0.2);
    text-align: center;
    padding: 20px;
    color: white;
    width: 200px;
}

.box1 {
    background-color: lightseagreen;
    order: 0;
}

.box2 {
    background-color: green;
    order: 2;
}

.box3 {
    background-color: blue;
    order: 2;
}

.box4 {
    background-color: violet;
    order: 2;
}

.box5 {
    background-color: darkblue;
    order: 2;
}

.box6 {
    background-color: yellow;
    order: -1;
}

.box7 {
    background-color: orange;
}

.box8 {
    background-color: red;
    order: -1;
}

.box9 {
    background-color: grey;
    order: -1;
}

.box10 {
    background-color: darkgray;
    order: -1;
}